@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="row" id="banner">
        <img class="col-md-12" width="2560" height="300" src="https://www.googleplaymusicdesktopplayer.com/img/par1.jpg" />

    </div>
</header><br />
<img />
<div>
    <a asp-controller="Albums" class="btn btn-primary col-md-2"><b>Albums</b></a>
    
    <a asp-controller="Artists" class="btn btn-danger col-md-2"><b>Artists</b></a>
   
    <a asp-controller="Genres" class="btn btn-info col-md-2"><b>Genres</b></a>
   
    <a asp-controller="Playlists" class="btn btn-warning col-md-2"><b>Playlists</b></a>
</div>